<div class="main-navigation">
    <nav class="navbar navbar-expand-lg">
        <div class="container position-relative">
            <a class="navbar-brand" href="index">
                <div class="logo">
                    <a href="~/">
                        <img title="ITeGAMAX" class="gamax-image_logo_2" alt="ITeGAMAX" src="~/assets/img/logo/itegamax-logo-icon.png">
                    </a>
                    <span class="gamax-text_logo_1"><a href="~/" target="_self"><span>IT<span class="gamax-text_logo_1-e">e</span>GAMAX</span></a></span>
                </div>
            </a>
            <div class="mobile-menu-right">
                <div class="search-btn">
                    <button type="button" class="nav-right-link search-box-outer"><i class="far fa-search"></i></button>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-mobile-icon"><i class="far fa-bars"></i></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="~/">Hem</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/services">Tjänster</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/produkter">Produkter</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/foretag/om-itegamax">Om oss</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/foretag/jobba-hos-oss">Jobba hos oss</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/support">Support</a></li>
                </ul>
                <div class="nav-right">
                    <div class="search-btn">
                        <button type="button" class="nav-right-link search-box-outer"><i class="far fa-search"></i></button>
                    </div>
                    <div class="nav-right-btn">
                        <a href="~/support/kontakt" class="theme-btn">@Resources.mainstrings.strletstalk<i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="sidebar-btn">
                        <button type="button" class="nav-right-link"><i class="far fa-bars-sort"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>