<!-- consultant network area -->

	<div class="cta-area" style="background-image: url(/assets/img/cta/ITeGAMAX-partnerskap.png)">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mx-auto">
					<div class="cta-content wow fadeInUp" data-wow-delay=".25s">
						<h1>GÅ MED I VÅRT KONSULTNÄTVERK</h1>
						<p>Vi erbjuder ett partnerskap där du kan generera intäkter genom att hjälpa dina kunder att effektivisera sitt IT-landskap, automatisera delar av sin verksamhet och minska kostnaderna.</p>
						<a href="/konsultnatverk" class="theme-btn">OM VÅRT KONSULTNÄTVERK<i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- consultant network area end -->
