<div class="footer-widget-box list">
    <h4 class="footer-widget-title">@Resources.mainstrings.strquicklinks</h4>
    <ul class="footer-list">
        <li><a href="/"><i class="far fa-arrow-right"></i>Hem</a></li>
        <li><a href="/foretag/om-itegamax"><i class="far fa-arrow-right"></i>Om oss</a></li>
        <li><a href="/foretag/foretagsuppgifter"><i class="far fa-arrow-right"></i>Företagsuppgifter</a></li>
        <li><a href="/support/kontakt"><i class="far fa-arrow-right"></i>Kontakta oss</a></li>
        <li><a href="/jobb"><i class="far fa-arrow-right"></i>Jobb</a></li>
        <li><a href="/partners"><i class="far fa-arrow-right"></i>Partners</a></li>
        <li><a href="/konsultnatverk"><i class="far fa-arrow-right"></i>Konsultnätverk</a></li>
        <li><a href="/support"><i class="far fa-arrow-right"></i>Support</a></li>
        <li><a href="/information/legal"><i class="far fa-arrow-right"></i>Legal</a></li>
        <li><a href="/information/trademarks"><i class="far fa-arrow-right"></i>Varumärken</a></li>
        <li><a href="/information/integritet"><i class="far fa-arrow-right"></i>Integritet</a></li>
        <li><a href="/information/cookies"><i class="far fa-arrow-right"></i>Cookies</a></li>
        <li><a href="/webbplatskarta"><i class="far fa-arrow-right"></i>Webbplatskarta</a></li>
    </ul>
</div>