@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Denna sida hanterar databasinformation och möjliggör administration av data i systemet</p>
</div>
