@page
@model ADMIN.ITEGAMAX._4._0.Areas.data.Pages.data_areasModel
<!-- Page Header -->
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <div>
        <h4 class="mb-0">Dataområden</h4>
        <p class="mb-0 text-muted">Den här sidan innehåller alla dataområden som hanteras i systemet.</p>
    </div>
    <div class="main-dashboard-header-right">
        <div>
            <label class="fs-13 text-muted">Antal databastabeller</label>
            <h5 class="mb-0 fw-semibold">@Model.TotalTables</h5>
        </div>
    </div>
</div>
<!-- End Page Header -->