<header class="app-header">
    <!-- Start::main-header-container -->
    <div class="main-header-container container-fluid">
        <!-- Start::header-content-left -->
        <div class="header-content-left">
            <!-- Start::header-element -->
            <div class="header-element">
                <div class="horizontal-logo">
                    <a href="~/" class="header-logo">
                        <img src="~/assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
                        <img src="~/assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
                        <img src="~/assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-white">
                        <img src="~/assets/images/brand-logos/toggle-white.png" alt="logo" class="toggle-white">
                    </a>
                </div>
            </div>
            <!-- End::header-element -->
            <!-- Start::header-element -->
            <div class="header-element">
                <!-- Start::header-link -->
                <a aria-label="Hide Sidebar" class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle" data-bs-toggle="sidebar" href="javascript:void(0);">
                    <i class="header-icon fe fe-align-left"></i>
                </a>
                <div class="main-header-center d-none d-lg-block">
                    <h3>@Resources.mainstrings.comp_app_title2</h3>
                </div>
                <!-- End::header-link -->
            </div>
            <!-- End::header-element -->
        </div>
        <!-- End::header-content-left -->
        <!-- Start::header-content-right -->
        <div class="header-content-right">
        </div>
        <!-- End::header-content-right -->
    </div>
    <!-- End::main-header-container -->
</header>