 <!-- Footer Start -->
<footer class="footer mt-auto py-3 bg-white text-center">
    <div class="container">
        <span class="text-muted">
            Copyright &copy; <span id="year"></span> <a href="@CLCompanySettings.COMPANY_WEB" target="_blank" class="text-dark fw-semibold"> @CLCompanySettings.COMPANY_NAME</a>.
            @Resources.mainstrings.strcopyright
        </span>
    </div>
</footer>
<!-- Footer End -->