<!-- Become a partner area -->

	<div class="video-area">
		<div class="container-fluid px-0">
			<div class="video-content">
				<a class="play-btn" href="/partners">
					<i class="fas fa-play"></i>
				</a>
				<div class="video-img" style="background-image: url('/assets/img/video/01.jpg');">
					<div class="col-lg-6 mx-auto wow fadeInUp" data-wow-delay=".25s">
						<div class="video-info">
							<h1>BLI PARTNER</h1>
							<p>Vi erbjuder ett partnerskap där du kan generera intäkter genom att hjälpa dina kunder att effektivisera sitt IT-landskap, automatisera delar av sin verksamhet och minska kostnaderna.</p>
							<a href="/partners" class="theme-btn">Om vårt partnerskap<i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			
			
		</div>
	</div>
</>
<!-- Become a partner area end -->