@page
@model ADMIN.ITEGAMAX._4._0.Areas.database.Pages.table1Model
<!-- Page Header -->
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <div>
        <h4 class="mb-0">Data Table: Name</h4>
        <p class="mb-0 text-muted">This page contanis all the rows in the below data table</p>
    </div>
    <div class="main-dashboard-header-right">

        <div>
            <label class="fs-13 text-muted">Total rows</label>
            <h5 class="mb-0 fw-semibold">56</h5>
        </div>
    </div>
</div>
<!-- End Page Header -->