<!-- consultant network area -->
<div class="pt-100">
	<div class="video-area2">
		<div class="video-content">
			<div class="video-img py-80" style="background-image: url('assets/img/video/01.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="video-info py-0">
								<h1>GÅ MED I VÅRT KONSULTNÄTVERK</h1>
								<p>Vi erbjuder ett partnerskap där du kan generera intäkter genom att hjälpa dina kunder att effektivisera sitt IT-landskap, automatisera delar av sin verksamhet och minska kostnaderna.</p>
								<a href="/konsultnatverk" class="theme-btn">Om vårt konsultnätver<i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="video-btn">
								<a class="play-btn" href="/konsultnatverk">
									<i class="fas fa-play"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- consultant network area end -->
